
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% endblock %}


{% block content %}
<div class="dashboard">
	
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
	      
	    <span class="govuk-caption-l">Account home</span>
        <h1 class="govuk-heading-l">Miltoncross Academy</h1>

      </div>

      <div class="govuk-grid-column-one-third">

        <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

        <aside class="app-related-items" role="complementary">
          {% from "govuk/components/select/macro.njk" import govukSelect %}

		{{ govukSelect({
		  id: "sort",
		  name: "sort",
		  label: {
		    text: "Change school"
		  },
		  items: [
		    {
		      value: "published",
		      text: "Another school x (2)"
		    },
		    {
		      value: "updated",
		      text: "Miltoncross Academy (5)",
		      selected: true
		    },
		    {
		      value: "views",
		      text: "Another school y (0)"
		    },
		    {
		      value: "comments",
		      text: "Another school z (1)"
		    }
		  ]
		}) }}
          
          
        </aside>

      </div>
    </div>
    
    
    
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    
    
    
    <div class="govuk-grid-row">
	    
      <div class="govuk-grid-column-one-half">
	      
	      <div class="panel">
		      
	      <h2 class="govuk-heading-m">Active requests</h2>
	      
			<ul class="govuk-list">
				<li>
					<a class="govuk-link" href="#">View request</a><div class="alert-counter"><div class="numbered-circle-container"><div id="new-requests-counter" class="numbered-circle" aria-label="1 new placement requests"><div class="number">1</div></div></div></div>
				</li>
				<li>
					<a class="govuk-link" href="#">Accept request</a>
				</li>
				<li>
					<a class="govuk-link" href="#">Reject request</a>
				</li>
			</ul>
						
	      </div>
	      
      </div>
      
      
       <div class="govuk-grid-column-one-half">
	       
	      <div class="panel">
	      
	      <h2 class="govuk-heading-m">Upcoming Bookings</h2>
	      
			<ul class="govuk-list">
				<li>
					<a class="govuk-link" href="#">View booking</a><div class="alert-counter"><div class="numbered-circle-container"><div id="new-requests-counter" class="numbered-circle" aria-label="1 new placement requests"><div class="number">4</div></div></div></div>
				</li>
				<li>
					<a class="govuk-link" href="#">Change booking</a>
				</li>
				<li>
					<a class="govuk-link" href="#">Cancel booking</a>
				</li>
				<li>
					<a class="govuk-link" href="#">Confirm attendance</a>
				</li>
			</ul>
						
	       </div>
	      
      </div>
      
      
      
    </div>
    
    
    
    <div class="govuk-grid-row double-panel">
	    
	  
	  
	    
      <div class="govuk-grid-column-one-third">
	      
	      <div class="panel" style="background-color: #f3f2f1;">
	      
	      <h1 class="govuk-heading-m">Miltoncross Academy</h1>
	      
	      <p>Milton Rd,<br>Milton,<br> Portsmouth <br>PO3 6RB</p>
	      
	      </div>
	      
      </div>
      
      
      
      
      <div class="govuk-grid-column-two-thirds">
	      
	      
	      <ul class="govuk-list">
				<li>
					<a class="govuk-link" href="#">Update school profile</a>
				</li>
				<li>
					<a class="govuk-link" href="#">Add available experience dates</a> <span class="govuk-caption-m">(Add or close available dates)</span>
				</li>
				<li>
					<a class="govuk-link" href="#">Change available experience dates</a> <span class="govuk-caption-m">(Add or close available dates)</span>
				</li>
				<li>
					<a class="govuk-link" href="#">Close experience dates</a> <span class="govuk-caption-m"> (Add or close available dates)</span>
				</li>
				<li>
					<a class="govuk-link" href="#">Change how available dates are displayed </a>
				</li>
				<li>
					<a class="govuk-link" href="#">Turn requests on/off</a>
				</li>
			</ul>
	            
      </div>
    
    </div>
    
    
    
    
    
     <div class="govuk-grid-row">
	    
      <div class="govuk-grid-column-one-half">
	      
	      <div class="panel">
		      
	      <h2 class="govuk-heading-m">History</h2>
	      
			<ul class="govuk-list">
				<li>
					<a class="govuk-link" href="#">Withdrawn requests</a>
				</li>
				<li>
					<a class="govuk-link" href="#">Rejected request</a>
				</li>
				<li>
					<a class="govuk-link" href="#">Previous bookings</a>
				</li>
			</ul>
						
	      </div>
	      
      </div>
      
     </div>
    
    
</div>

{% endblock %}
