
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% endblock %}


{% block content %}
<div class="dashboard">
	
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
	      
	    <span class="govuk-caption-l">Account home</span>
        <h1 class="govuk-heading-l" style="margin-bottom: 15px;">Holland Park School</h1>
        
        <ul class="govuk-list">
	        Holland Pa<li><a class="govuk-link" href="https://schoolexperience-staging.education.gov.uk/schools/on_boarding/profile">Update school profile</a></li>rk Academy</h1>
        </ul>
        	      
		<!-- <p>You haven't entered any dates, your school will not appear in candidate searches</p> -->
		
      </div>

      <div class="govuk-grid-column-one-third">

        <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

        <aside class="app-related-items" role="complementary">
          {% from "govuk/components/select/macro.njk" import govukSelect %}

		{{ govukSelect({
		  id: "sort",
		  name: "sort",
		  label: {
		    text: "Change school"
		  },
		  items: [
		    {
		      value: "published",
		      text: "Holland Park School (2)"
		    },
		    {
		      value: "updated",
		      text: "Miltoncross Academy (5)",
		      selected: true
		    },
		    {
		      value: "views",
		      text: "Another school y (0)"
		    },
		    {
		      value: "comments",
		      text: "Another school z (1)"
		    }
		  ]
		}) }}
          
         <button class="govuk-button" data-module="govuk-button">
		  Change school
		</button>
		         
        </aside>

      </div>
    </div>
    
    
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    
    
    <div class="govuk-grid-row profile-status">
	  <div class="govuk-grid-column-two-thirds">
	    <p>Your profile is currently <strong>on</strong>, but your school will not appear in candidate searches until you <a href="#">add experience dates</a>.</p>
		
	  </div>
	  <div class="govuk-grid-column-one-third">
		  <p><a class="govuk-link" href="https://schoolexperience-staging.education.gov.uk/schools/toggle_enabled/edit">Turn profile on/off</a></p>
	  </div>
	  
	</div>
	
	<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    
    
    
    <div class="govuk-grid-row">
	    
      <div class="govuk-grid-column-one-half">
	      
	      <div class="panel" style="min-height:330px;">
		      
	      <h2 class="govuk-heading-m">Active requests</h2>
	      
	      <p>View, accept or reject requests from candidates</p>
	      
	      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

	      			
			<ul class="govuk-list">
				<li>
					<a class="govuk-link" href="https://schoolexperience-staging.education.gov.uk/schools/placement_requests">Manage requests </a> <span class="alert-counter"><span class="numbered-circle-container"><span id="new-requests-counter" class="numbered-circle"><span class="number">1</span></span></span></span>
				</li>
			</ul>
			
						
	      </div>
	      
      </div>
      
      
       <div class="govuk-grid-column-one-half">
	       
	      <div class="panel">
	      
	      <h2 class="govuk-heading-m">Upcoming Bookings</h2>
	      
	      <p>View, change or cancel candidate bookings and attendance</p>
	      
	      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

	      
			<ul class="govuk-list">
				<li>
					<a class="govuk-link" href="https://schoolexperience-staging.education.gov.uk/schools/bookings">Manage upcoming bookings</a><span class="alert-counter"><span class="numbered-circle-container"><span id="new-requests-counter" class="numbered-circle"><span class="number">3</span></span></span></span>
				</li>
				<li>
					<a class="govuk-link" href="https://schoolexperience-staging.education.gov.uk/schools/confirm_attendance">Confirm booking attendance</a><span class="alert-counter"><span class="numbered-circle-container"><span id="new-requests-counter" class="numbered-circle"><span class="number">1</span></span></span></span>
					<p class="govuk-hint">Confirm if candidates have attended their school experience</p>
				</li>
			</ul>
						
	       </div>
	      
      </div>
      
      
      
    </div>
    
    
    
    <div class="govuk-grid-row double-panel">	  
	    
      <div class="govuk-grid-column-one-third">
	      
	      <div>
	      
	      <h2 class="govuk-heading-m">Miltoncross Academy</h2>
	      
	      <!-- <p>Milton Rd,<br>Milton,<br> Portsmouth <br>PO3 6RB</p> -->
	      <p>URN: 01234567</p>
	      
	      <ul class="govuk-list">
				<li>
					<a class="govuk-link" href="#">Update school profile</a>
				</li>
	       </ul>	
	      
	      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
	      
	      <p>Your profile is currently <strong>on</strong>.</p>
	      
	       <ul class="govuk-list">
				<li>
					<a class="govuk-link" href="https://schoolexperience-staging.education.gov.uk/schools/toggle_enabled/edit">Turn profile on/off</a>
				</li>
	       </ul>	
	      
	      </div>
	      
      </div>
      
      
      
      
      <div class="govuk-grid-column-two-thirds">
	      
	      <h2 class="govuk-heading-m">Experience dates</h2>
	      
	      <p>Manage your school's availability for experience</p>
	      
	      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
	      
			<ul class="govuk-list">
				<li>
					<a class="govuk-link" href="#">Manage experience dates</a>
				</li>
				<li>
					<a class="govuk-link" href="https://schoolexperience-staging.education.gov.uk/schools/availability_preference/edit">Change how available dates are displayed </a>
				</li>
			</ul>
	            
      </div>
    
    </div>
    
    
    
    
     <div class="govuk-grid-row">
	    
      <div class="govuk-grid-column-one-half">
	      
	      <div class="panel" style="min-height:353px;">
		      
	      <h2 class="govuk-heading-m">History</h2>
	      
	      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
	      
			<ul class="govuk-list">
				<li>
					<a class="govuk-link" href="https://schoolexperience-staging.education.gov.uk/schools/withdrawn_requests">Withdrawn requests</a>
				</li>
				<li>
					<a class="govuk-link" href="#">Rejected request</a>
				</li>
				<li>
					<a class="govuk-link" href="https://schoolexperience-staging.education.gov.uk/schools/previous_bookings">Previous bookings</a>
				</li>
			</ul>
						
	      </div>
	      
      </div>
      
      
      
      <div class="govuk-grid-column-one-half">
	      
	      <div class="panel">
		      
	      <h2 class="govuk-heading-m">Help and support</h2>
	      
	      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
	      
			<ul class="govuk-list">
				<li>
					<a class="govuk-link" href="https://schoolexperience-staging.education.gov.uk/service_updates">Service updates and guidance - 25 October 2021</a>
					<p class="govuk-hint">Find out about the latest changes to the service and how it works</p>
				</li>
				<li>
					<a class="govuk-link" href="https://schoolexperience-staging.education.gov.uk/schools/organisation_access_request">Request access to another organisation</a>
					<p class="govuk-hint">Request access to manage school experience for another organisation</p>
				</li>
				<li>
					<a class="govuk-link" href="https://schoolexperience-staging.education.gov.uk/schools/contact_us">Contact us</a>
					<p class="govuk-hint">Get in touch if you need help using the service</p>
				</li>
			</ul>
						
	      </div>
	      
      </div>
      
     </div>
     
    
    
</div>

{% endblock %}
