{% extends "layout.html" %}

{% block pageTitle %}
  GSE - Manage dates
{% endblock %}

{% block beforeContent %}


{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "../dates"
}) }}

{% endblock %}


{% block content %}
	
<div class="govuk-grid-row">

	<div class="govuk-grid-column-two-thirds">
				
				
		<form method="post" novalidate>
			
		{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

		{{ govukDateInput({
		  id: "start-date",
		  namePrefix: "start-date",
		  fieldset: {
		    legend: {
		      text: "Enter placement start date",
		      isPageHeading: true,
		      classes: "govuk-fieldset__legend--l"
		    }
		  },
		  hint: {
		    text: "For example, 27 3 2007"
		  }
		}) }}
		
		
		
		{{ govukInput({
		  label: {
		    text: "How long will it last?"
		  },
		  hint: {
		    text: "Enter number of days"
		  },
		  classes: "govuk-input--width-2",
		  id: "width-2",
		  name: "width-2"
		}) }}		
			
		
		
		{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
		
		
		{{ govukCheckboxes({
		  idPrefix: "multiple-date",
		  name: "multiple-date",
		  fieldset: {
		    legend: {
		      text: "Does this event repeat?"
		    }
		  },
		  		  
		  hint: {
		    text: "Repeat this event on a daily, weekly or monthly basis"
		  },
		  items: [
		    {
		      value: "recurring-event",
		      text: "I want this to be a recurring experience"
		    }
		  ]
		}) }}
		
		 <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
		
		</form>
		
	</div>
	
</div>


{% endblock %}
