{% extends "layout.html" %}

{% block pageTitle %}
  GSE - Manage dates
{% endblock %}

{% block beforeContent %}


{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "recurring"
}) }}

{% endblock %}

{% block content %}
	
<div class="govuk-grid-row">

	<div class="govuk-grid-column-two-thirds">
		
		
		<h1 class="govuk-heading-l">Exclude dates</h1>
						
		<form method="post" action="handle-exclude-dates" novalidate>
					
		{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
		
		
		{{ govukCheckboxes({
		  idPrefix: "exclude-a-date",
		  name: "exclude-a-date",
		  classes: "govuk-checkboxes--small",
		  fieldset: {
		    legend: {
		      text: "Select dates for exclusion",
		      isPageHeading: true,
		      classes: "govuk-fieldset__legend--m"
		    }
		  },
		  items: [
		    {
		      value: "jan-01",
		      text: "1 January 2022, Monday"
		    },
		    {
		      value: "jan-02",
		      text: "2 January 2022, Tuesday"
		    },
		    {
		      value: "jan-03",
		      text: "3 January 2022, Wednesday"
		    },
		    {
		      value: "jan-04",
		      text: "4 January 2022, Thursday"
		    },
		    {
		      value: "jan-05",
		      text: "5 January 2022, Friday"
		    }
		  ]
		}) }}
		
		 <button class="govuk-button" data-module="govuk-button">
            Exclude selected
          </button>
		
		</form>
		
	</div>
	
</div>


{% endblock %}
