{% extends "layout.html" %}

{% block pageTitle %}
  GSE - Manage dates
{% endblock %}

{% block beforeContent %}


{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "recurring"
}) }}

{% endblock %}

{% block content %}

<script type="text/javascript">
	(function(document) {
		var jsEnableClass = 'js-enabled';
		var bodyClass = document.body.className ? document.body.className + ' ' + jsEnableClass : jsEnableClass;
		document.body.className = bodyClass;
	})(document);
	</script>

<div class="govuk-grid-row">

	<div class="govuk-grid-column-two-thirds">
		
		
		<h1 class="govuk-heading-l">Select school experience subjects</h1>
		
		<!-- <p><a href="#">Check all options</a></p> -->
						
		<form method="post" action="check-answers" novalidate>
					

		{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
		
		
		{{ govukCheckboxes({
		  idPrefix: "secondary-subjects",
		  name: "secondary-subjects",
		  classes: "govuk-checkboxes",
		  items: [
		    {
		      value: "general",
		      text: "General experience",
		      hint: {
		        text: "Select this option if you want to offer general school experience, with no focus on a particular subject"
		      }
		    },
		    {
		      divider: "or"
		    },
		    {
		      value: "Select all",
		      text: "Select all"
		    },
		    {
		      value: "Art and design",
		      text: "Art and design"
		    },
		    {
		      value: "biology",
		      text: "Biology"
		    },
		    {
		      value: "business-studies",
		      text: "Business studies"
		    },
		    {
		      value: "chemistry",
		      text: "Chemistry"
		    },
		    {
		      value: "Classics",
		      text: "Classics"
		    },
		    {
		      value: "computing",
		      text: "Computing"
		    },
		    {
		      value: "drama",
		      text: "Drama"
		    },
		    {
		      value: "economics",
		      text: "Economics"
		    },
		    {
		      value: "english",
		      text: "English"
		    },
		    {
		      value: "french",
		      text: "French"
		    },
		    {
		      value: "geography",
		      text: "Geography"
		    },
		    {
		      value: "history",
		      text: "History"
		    },
		    {
		      value: "maths",
		      text: "Maths"
		    },
		    {
		      value: "music",
		      text: "Music"
		    },
		    {
		      value: "physical education",
		      text: "Physical education"
		    },
		    {
		      value: "Physics",
		      text: "Physics"
		    },
		    {
		      value: "physics with maths",
		      text: "Physics with maths"
		    },
		    {
		      value: "psychology",
		      text: "Psychology"
		    },
		    {
		      value: "religious education",
		      text: "Religious education"
		    }
		  ]
		}) }}

		<fieldset class="js-check-all-group">
			<div class="multiple-choice js-show">
			  <input id="class-all" class="js-check-all" name="class-all" type="checkbox" value="All MOT testers">
			  <label for="class-all">All MOT testers</label>
			</div>
			<div class="multiple-choice">
			  <input id="class-1" name="class-1" type="checkbox" value="Class 1">
			  <label for="class-1">Class 1</label>
			</div>
			<div class="multiple-choice">
			  <input id="class-2" name="class-2" type="checkbox" value="Class 2">
			  <label for="class-2">Class 2</label>
			</div>
			<div class="multiple-choice">
			  <input id="class-3" name="class-3" type="checkbox" value="Class 3">
			  <label for="class-3">Class 3</label>
			</div> 
			<div class="multiple-choice">
			  <input id="class-4" name="class-4" type="checkbox" value="Class 4">
			  <label for="class-4">Class 4</label>
			</div>
			<div class="multiple-choice">
			  <input id="class-5" name="class-5" type="checkbox" value="Class 5">
			  <label for="class-5">Class 5</label>
			</div>
			<div class="multiple-choice">
			  <input id="class-6" name="class-6" type="checkbox" value="Class 7">
			  <label for="class-6">Class 6</label>
			</div>
	  
		  </fieldset>


		 <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
		
		</form>
		
	</div>
	
</div>


{% endblock %}
