// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

.width-full {
	width: 100%;
}


.filter-group {
	border-bottom: 1px solid #b1b4b6; 
	padding: 13px 13px 10px 13px;
	margin-bottom: 10px;
}

.app-c-option-select__container {
    position: relative;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #fff;	
}

.app-c-option-select__container-inner {
    padding: 5px 13px;
}

.facet-tags {
    background-color: #f3f2f1;
    padding: 7px;
}

.school-result {
    padding: 0 20px 0 30px;
    margin: 20px 0;
    border-left: 5px solid #28a197;
}

.school-result .res-head a {
	text-decoration: none;
}


// DASHBOARD

.dashboard {
	
	.app-related-items {
		.govuk-select {
			width: 100%;
		}
	}
		
	.panel {
		padding: 1.5rem;
		min-height: 250px;
		text-align: left;
	    border: 3px solid #F3F2F1;
	    box-sizing: border-box;
	    margin-bottom: 2rem;
	}
	
	.double-panel {
		border: 3px solid #F3F2F1;
	    box-sizing: border-box;
	    margin-bottom: 2rem;
	    margin-left: 0;
	    margin-right: 0;
	    
	    .govuk-grid-column-one-third {
		    background-color: #f3f2f1;
		    min-height: 344px;
		    
	    }
	    
	    .govuk-grid-column-two-thirds {
		    padding: 1.5rem;
	    }
	    
	}
	
	.panel, .double-panel {
		
		.govuk-list > li {
		    margin-bottom: 10px;
			}
	}
	
}

div.alert-counter {
    display: inline-block;
    margin-left: .5rem;


	div.numbered-circle-container {
	    display: flex;
	    justify-content: center;

	 div.numbered-circle {
	    background-color: #a32526;
	    border-radius: 50%;
	    width: 1.2rem;
	    height: 1.2rem;
	    padding: .2rem;
	    display: flex;
	    justify-content: center;

			div.number {
			    display: flex;
			    justify-content: center;
			    color: #fff;
			    text-align: center;
			    padding: 0;
			    margin: 0;
			    font-size: 1rem;
			    line-height: 1.3;
			   }
		}
	}
}
