// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";
@import "patterns/pagination";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

.width-full {
	width: 100%;
}


.filter-group {
	border-bottom: 1px solid #b1b4b6; 
	padding: 13px 13px 10px 13px;
	margin-bottom: 10px;
}

.app-c-option-select__container {
    position: relative;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #fff;	
}

.app-c-option-select__container-inner {
    padding: 5px 13px;
}

.facet-tags {
    background-color: #f3f2f1;
    padding: 7px;
}

.school-result {
    padding: 0 20px 0 30px;
    margin: 20px 0;
    border-left: 5px solid #28a197;
}

.school-result .res-head a {
	text-decoration: none;
}


// DASHBOARD

.dashboard {
	
	
	.incomplete {
		
		color: #fff;
		padding: 2rem;
		background-color: #1d70b8;
		margin-bottom: 2rem;
		
		h2, a, p, li, ul, .govuk-warning-text__text  {
			color: #fff;
			
		}
		
		.govuk-warning-text {
			margin: 30px 0 0 0;			
		}
		
		.govuk-warning-text__icon {
			border-color: #fff;
			background-color: #fff;
			color: #1d70b8;
		}
		
	}
	
	
	.dash-highlight {
		color: #fff;
		background-color: #1d70b8;
		padding: 1.5rem;
		
		h2, p, a { color: #fff;}
	}
	
	.dash-lowlight {
		color: #fff;
		background-color: #f3f2f1;
		padding: 1.5rem;
	}
	
	.profile-status p {
		margin-bottom: 0;
	}
	
	.app-related-items {
		.govuk-select {
			width: 100%;
		}
	}
		
	.panel {
		padding: 1.5rem;
		min-height: 250px;
		text-align: left;
	    border: 3px solid #F3F2F1;
	    box-sizing: border-box;
	    margin-bottom: 2rem;
	}
	
	.double-panel {
		border: 3px solid #F3F2F1;
	    box-sizing: border-box;
	    margin-bottom: 2rem;
	    margin-left: 0;
	    margin-right: 0;
	    
	    .govuk-grid-column-one-third {
		    background-color: #f3f2f1;
		    min-height: 280px;
		    padding: 1.5rem;
		    
		    .panel {
			    padding: 1.5rem 0;
		    }
		    
	    }
	    
	    .govuk-grid-column-two-thirds {
		    padding: 1.5rem;
	    }
	    
	}
	
	.panel, .double-panel {
		
		.govuk-list > li {
		    margin-bottom: 10px;
			}
	}
	
}

span.alert-counter {
    display: inline-block;
    margin-left: .5rem;


	span.numbered-circle-container {
	    display: flex;
	    justify-content: center;

	 span.numbered-circle {
	    background-color: #a32526;
	    border-radius: 50%;
	    width: 1.2rem;
	    height: 1.2rem;
	    padding: .2rem;
	    display: flex;
	    justify-content: center;

			span.number {
			    display: flex;
			    justify-content: center;
			    color: #fff;
			    text-align: center;
			    padding: 0;
			    margin: 0;
			    font-size: 1rem;
			    line-height: 1.3;
			   }
		}
	}
}

//Profile page

.panel-highlight {
    background: #f3f2f1;
    padding: 20px;
}

.gem-c-contents-list__list, .gem-c-contents-list__nested-list {
    color: #0b0c0c;
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1428571429;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.gem-c-contents-list__list, .gem-c-contents-list__nested-list {
    font-size: 16px;
    line-height: 1.25;
}

.gem-c-contents-list__title {
    color: #0b0c0c;
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
}


.gem-c-contents-list__list-item--dashed {
    position: relative;
    padding-left: 25px;
    padding-right: 25px;
}

.gem-c-contents-list__list-item {
    padding-top: 10px;
    line-height: 1.3;
    list-style-type: none;
}

.gem-c-contents-list__list-item--dashed:before {
    content: "—";
    position: absolute;
    left: 0;
    width: 20px;
    overflow: hidden;
}

.placement-dates tr:last-child .govuk-table__header, 
.placement-dates tr:last-child .govuk-table__cell{
	border-bottom: none;
}

//Profile update

.can-add {
	border-left: 3px solid #1f6fb8;
	padding-left: 1rem;
}
