{% extends "layout.html" %}

{% block pageTitle %}
  GSE - Manage dates
{% endblock %}

{% block beforeContent %}


{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "#"
}) }}


{% endblock %}


{% block content %}
	
<div class="govuk-grid-row">

	<div class="govuk-grid-column-two-thirds">
				
		<span class="govuk-caption-l">Edit school profile</span>
		<h1 class="govuk-heading-l">Holland Park School</h1>
		
	</div>
	
</div>


<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		
		<div class="govuk-tabs" data-module="govuk-tabs">
		  <h2 class="govuk-tabs__title">
		    Contents
		  </h2>
		  <ul class="govuk-tabs__list">
		    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
		      <a class="govuk-tabs__tab" href="#past-day">
		        School Experience Details
		      </a>
		    </li>
		    <li class="govuk-tabs__list-item">
		      <a class="govuk-tabs__tab" href="#past-week">
		        Candidate Information
		      </a>
		    </li>
		    <li class="govuk-tabs__list-item">
		      <a class="govuk-tabs__tab" href="#past-month">
		        Admin Contact Details
		      </a>
		    </li>
		  </ul>
  
  <div class="govuk-tabs__panel" id="past-day">
	          
    <dl class="govuk-summary-list">
        <div id="full-name" class="govuk-summary-list__row full-name">
		  <dt class="govuk-summary-list__key">
		    Full name
		  </dt>
		  <dd class="govuk-summary-list__value">
		    Holland Park School
		  </dd>
		    <dd class="govuk-summary-list__actions">
		      
		    </dd>
		</div>
		
		
		
        <div id="address" class="govuk-summary-list__row address">
		  <dt class="govuk-summary-list__key">
		    Address
		  </dt>
		  <dd class="govuk-summary-list__value">
		    Airlie Gardens, Campden Hill Road, London, W8 7AF
		  </dd>
		    <dd class="govuk-summary-list__actions">
		      
		    </dd>
		</div>

      </dl>
      
      
      <dl class="govuk-summary-list">
        <div id="fees" class="govuk-summary-list__row fees">
		  <dt class="govuk-summary-list__key">
		    Fees
		  </dt>
		  <dd class="govuk-summary-list__value">
		    Yes - £1.00 one-off administration fee and £1.00 one-off other fee
		  </dd>
		    <dd class="govuk-summary-list__actions">
		      <a aria-label="Change Fees" href="/schools/on_boarding/fees/edit">Change</a>
		    </dd>
		</div>

        <div id="dbs-check-required" class="govuk-summary-list__row dbs-check-required">
		  <dt class="govuk-summary-list__key">
		    DBS check required
		  </dt>
		  <dd class="govuk-summary-list__value">
		    No - Candidates will be accompanied at all times when in school
		  </dd>
		    <dd class="govuk-summary-list__actions">
		      <a aria-label="Change DBS check required" href="/schools/on_boarding/dbs_requirement/edit">Change</a>
		    </dd>
		</div>

        <div id="individual-requirements" class="govuk-summary-list__row individual-requirements">
		  <dt class="govuk-summary-list__key">
		    Individual requirements
		  </dt>
		  <dd class="govuk-summary-list__value">
		    <ul class="govuk-list govuk-list--bullet"><li>Must be applying to or have applied to our, or a partner school's, teacher training course</li><li>Must not have been accepted onto another teacher training course</li><li>Must have a degree</li><li>They must live within 30 miles of the school</li><li>Photo identification: Drivers licence, utility bill or passport</li><li>They must have a GCSE in English</li></ul>
		  </dd>
		    <dd class="govuk-summary-list__actions">
		      <a aria-label="Change Individual requirements" href="/schools/on_boarding/candidate_requirements_selection/edit">Change</a>
		    </dd>
		</div>

        <div id="school-experience-phases" class="govuk-summary-list__row school-experience-phases">
		  <dt class="govuk-summary-list__key">
		    School experience phases
		  </dt>
		  <dd class="govuk-summary-list__value">
		    Primary, secondary, and 16 - 18 years
		  </dd>
		    <dd class="govuk-summary-list__actions">
		      <a aria-label="Change School experience phases" href="/schools/on_boarding/phases_list/edit">Change</a>
		    </dd>
		</div>

        <div id="primary-key-stages" class="govuk-summary-list__row primary-key-stages">
		  <dt class="govuk-summary-list__key">
		    Primary key stages
		  </dt>
		  <dd class="govuk-summary-list__value">
		    Early years, key stage 1, and key stage 2
		  </dd>
		    <dd class="govuk-summary-list__actions">
		      <a aria-label="Change Primary key stages" href="/schools/on_boarding/key_stage_list/edit">Change</a>
		    </dd>
		</div>

        <div id="subjects" class="govuk-summary-list__row subjects">
		  <dt class="govuk-summary-list__key">
		    Subjects
		  </dt>
		  <dd class="govuk-summary-list__value">
		    Art and design, Biology, Business studies, Chemistry, Classics, Computing, Drama, Economics, English, French, Geography, History, Maths, Music, Physical education, Physics, Physics with maths, Psychology, Religious education, and Spanish
		  </dd>
		    <dd class="govuk-summary-list__actions">
		      <a aria-label="Change Subjects" href="/schools/on_boarding/subjects/edit">Change</a>
		    </dd>
		</div>

        <div id="description" class="govuk-summary-list__row description">
		  <dt class="govuk-summary-list__key">
		    Description
		  </dt>
		  <dd class="govuk-summary-list__value">
		    <p></p>
		  </dd>
		    <dd class="govuk-summary-list__actions">
		      <a aria-label="Change Description" href="/schools/on_boarding/description/edit">Change</a>
		    </dd>
		</div>
		
		        <div id="school-experience-details" class="govuk-summary-list__row school-experience-details">
		  <dt class="govuk-summary-list__key">
		    School experience details
		  </dt>
		  <dd class="govuk-summary-list__value">
		    <p>We are very excited about welcoming those interested in training to teach to Holland Park School. On offer are: some lesson visits; informal opportunities to meet with teachers in the staff room; meetings with school leaders; training sessions (on safeguarding, behaviour  
		<br> management, lesson planning); opportunities to teach. We supervise candidates throughout the experience, so that DBS checks are not required.</p>
		
		<p> - As a twice outstanding school and with a track record of exceptional GCSE results, we thrive on training new members of staff. We are always looking to make connections with driven and talented graduates who are keen to commit to what is both a highly demanding and highly fulfilling profession.</p>
		  </dd>
		    <dd class="govuk-summary-list__actions">
		      <a aria-label="Change School experience details" href="/schools/on_boarding/experience_outline/edit">Change</a>
		    </dd>
		</div>
		
		        <div id="teacher-training-links" class="govuk-summary-list__row teacher-training-links">
		  <dt class="govuk-summary-list__key">
		    Teacher training links
		  </dt>
		  <dd class="govuk-summary-list__value">
		    Yes - We train teachers through the Royal Borough Teaching School Alliance.. <a href="https://www.hollandparkschool.co.uk/vacancies/train-and-teach-with-us/school-direct">Find out more about our teacher training</a>
		  </dd>
		    <dd class="govuk-summary-list__actions">
		      <a aria-label="Change Teacher training links" href="/schools/on_boarding/teacher_training/edit">Change</a>
		    </dd>
		</div>

      </dl>

        <h2 class="govuk-heading-m">Application details</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Previous application number
            </dt>
            <dd class="govuk-summary-list__value">
              502135326
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> previous application number</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Licence type
            </dt>
            <dd class="govuk-summary-list__value">
              For personal use
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> licence type</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Home address
            </dt>
            <dd class="govuk-summary-list__value">
              72 Guild Street<br>London<br>SE23 6FH
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> home address</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Licence period
            </dt>
            <dd class="govuk-summary-list__value">
              Valid for 6 months
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> licence period</span>
              </a>
            </dd>
          </div>
        </dl>


  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">

    
    <dl class="govuk-summary-list">
        <div id="dress-code" class="govuk-summary-list__row dress-code">
		  <dt class="govuk-summary-list__key">
		    Dress code
		  </dt>
		  <dd class="govuk-summary-list__value">
		    Business dress, cover up tattoos, remove piercings, and smart casual
		  </dd>
		    <dd class="govuk-summary-list__actions">
		      <a aria-label="Change Dress code" href="/schools/on_boarding/candidate_dress_code/edit">Change</a>
		    </dd>
		</div>
		
		        <div id="parking" class="govuk-summary-list__row parking">
		  <dt class="govuk-summary-list__key">
		    Parking
		  </dt>
		  <dd class="govuk-summary-list__value">
		    test
		  </dd>
		    <dd class="govuk-summary-list__actions">
		      <a aria-label="Change Parking" href="/schools/on_boarding/candidate_parking_information/edit">Change</a>
		    </dd>
		</div>
		
		        <div id="show-disabilities-and-access-needs-support" class="govuk-summary-list__row show-disabilities-and-access-needs-support">
		  <dt class="govuk-summary-list__key">
		    Show disabilities and access needs support
		  </dt>
		  <dd class="govuk-summary-list__value">
		    Yes
		  </dd>
		    <dd class="govuk-summary-list__actions">
		      <a aria-label="Change Show disabilities and access needs support" href="/schools/on_boarding/access_needs_support/edit">Change</a>
		    </dd>
		</div>
		
		          <div id="disability-and-access-needs" class="govuk-summary-list__row disability-and-access-needs">
		  <dt class="govuk-summary-list__key">
		    Disability and access needs
		  </dt>
		  <dd class="govuk-summary-list__value">
		    <p>We offer facilities and provide an inclusive environment for students,
		<br>staff and school experience candidates with disability and access needs.</p>
		
		<p>We're happy to discuss your disability or access needs before or as part
		<br>of your school experience request.
		</p>
		  </dd>
		    <dd class="govuk-summary-list__actions">
		      <a aria-label="Change Disability and access needs" href="/schools/on_boarding/access_needs_detail/edit">Change</a>
		    </dd>
		</div>
		
		          <div id="disability-confident-employer-scheme" class="govuk-summary-list__row disability-confident-employer-scheme">
		  <dt class="govuk-summary-list__key">
		    Disability Confident employer scheme
		  </dt>
		  <dd class="govuk-summary-list__value">
		    No
		  </dd>
		    <dd class="govuk-summary-list__actions">
		      <a aria-label="Change Disability Confident employer scheme" href="/schools/on_boarding/disability_confident/edit">Change</a>
		    </dd>
		</div>
		
		          <div id="disability-and-access-needs-policy" class="govuk-summary-list__row disability-and-access-needs-policy">
		  <dt class="govuk-summary-list__key">
		    Disability and access needs policy
		  </dt>
		  <dd class="govuk-summary-list__value">
		    None
		  </dd>
		    <dd class="govuk-summary-list__actions">
		      <a aria-label="Change Disability and access needs policy" href="/schools/on_boarding/access_needs_policy/edit">Change</a>
		    </dd>
		</div>
		
		        <div id="start-time" class="govuk-summary-list__row start-time">
		  <dt class="govuk-summary-list__key">
		    Start time
		  </dt>
		  <dd class="govuk-summary-list__value">
		    8:30
		  </dd>
		    <dd class="govuk-summary-list__actions">
		      <a aria-label="Change Start time" href="/schools/on_boarding/candidate_experience_schedule/edit">Change</a>
		    </dd>
		</div>
		
		        <div id="finish-time" class="govuk-summary-list__row finish-time">
		  <dt class="govuk-summary-list__key">
		    Finish time
		  </dt>
		  <dd class="govuk-summary-list__value">
		    3:30
		  </dd>
		    <dd class="govuk-summary-list__actions">
		      <a aria-label="Change Finish time" href="/schools/on_boarding/candidate_experience_schedule/edit">Change</a>
		    </dd>
		</div>
		
		        <div id="flexible-on-times" class="govuk-summary-list__row flexible-on-times">
		  <dt class="govuk-summary-list__key">
		    Flexible on times
		  </dt>
		  <dd class="govuk-summary-list__value">
		    Yes - test
		  </dd>
		    <dd class="govuk-summary-list__actions">
		      <a aria-label="Change Flexible on times" href="/schools/on_boarding/candidate_experience_schedule/edit">Change</a>
		    </dd>
		</div>

      </dl>

  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-month">
    
    <dl class="govuk-summary-list">
        <div id="uk-telephone-number" class="govuk-summary-list__row uk-telephone-number">
		  <dt class="govuk-summary-list__key">
		    UK telephone number
		  </dt>
		  <dd class="govuk-summary-list__value">
		    0161 600 2210
		  </dd>
		    <dd class="govuk-summary-list__actions">
		      <a aria-label="Change UK telephone number" href="/schools/on_boarding/admin_contact/edit">Change</a>
		    </dd>
		</div>

        <div id="email-address" class="govuk-summary-list__row email-address">
		  <dt class="govuk-summary-list__key">
		    Email address
		  </dt>
		  <dd class="govuk-summary-list__value">
		    testing123444@test.com
		  </dd>
		    <dd class="govuk-summary-list__actions">
		      <a aria-label="Change Email address" href="/schools/on_boarding/admin_contact/edit">Change</a>
		    </dd>
		</div>
		
		          <div id="secondary-email-address" class="govuk-summary-list__row secondary-email-address">
		  <dt class="govuk-summary-list__key">
		    Secondary email address
		  </dt>
		  <dd class="govuk-summary-list__value">
		    secondary.email.address@test.com
		  </dd>
		    <dd class="govuk-summary-list__actions">
		      <a aria-label="Change Secondary email address" href="/schools/on_boarding/admin_contact/edit">Change</a>
		    </dd>
		</div>

      </dl>

  </div>
</div>
		
	</div>
</div>





<div class="govuk-grid-row">

	
	<div class="govuk-grid-column-two-thirds">
		
		<p><a href="#" class="govuk-button">Preview profile</a><br>
		
		<a href="#" class="govuk-link">Return to dashboard</a></p>

  </div>
  
  
  <div class="govuk-grid-column-one-third">
		<div class="panel-highlight govuk-!-margin-bottom-8">
			
		<h2 class="govuk-heading-m">Status</h2>		
		
		<p class="govuk-body govuk-!-margin-bottom-8">The Learning Alliance is a cross phase multi academy trust in Cheshire East. Knutsford Academy is our Lead School for ITT, in partnership with LJMU. We are offering school experience days across all five of our secondary schools during 2021 - 2022. This includes the following schools: Knutsford Academy, Congleton High School, The Oaks Academy (Crewe), Sir William Stanier (Crewe) and the Crewe UTC.</p>
			
		</div>
  </div>
  
  
	
</div>


{% endblock %}
