{% extends "layout.html" %}

{% block pageTitle %}
  GSE - Manage dates
{% endblock %}

{% block beforeContent %}


{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "#"
}) }}

{% endblock %}


{% block content %}
		
		
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">Check your placement details</h1>
            

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
	      {
            key: {
              text: "Date"
            },
            value: {
              text: "3 January 2022"
            },
            actions: {
              items: [
                {
                  href: "add-date",
                  text: "Change",
                  visuallyHiddenText: "Start date"
                }
              ]
            }
          },
          {
            key: {
              text: "When do you want to close this date to candidates?"
            },
            value: {
              text: "5 days before it starts"
            },
            actions: {
              items: [
                {
                  href: "details",
                  text: "Change",
                  visuallyHiddenText: "previous application number"
                }
              ]
            }
          },
          {
          	key: {
              text: "How long will it last?"
            },
            value: {
              text: "1 day"
            },
            actions: {
              items: [
                {
                  href: "details",
                  text: "Change",
                  visuallyHiddenText: "How long will it last?"
                }
              ]
            }
          },
          {
            key: {
              text: "Experience type"
            },
            value: {
              text: "In school"
            },
            actions: {
              items: [
                {
                  href: "details",
                  text: "Change",
                  visuallyHiddenText: "licence type"
                }
              ]
            }
          },
          {
            key: {
              text: "School phase"
            },
            value: {
              text: "Secondary"
            },
            actions: {
              items: [
                {
                  href: "details",
                  text: "Change",
                  visuallyHiddenText: "licence period"
                }
              ]
            }
          },
          {
            key: {
              text: "Subjects"
            },
            value: {
              text: "Chemistry, Physics"
            },
            actions: {
              items: [
                {
                  href: "secondary-type",
                  text: "Change",
                  visuallyHiddenText: "secondary type"
                }
              ]
            }
          }
        ]
      }) }}


      <form action="confirm" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        {{ govukButton({
          text: "Publish placement date"
        }) }}
        
        <p><a href="#">Preview profile</a></p>
        
        <p><a href="#">Close</a></p>

      </form>

    </div>
  </div>


{% endblock %}
