{% extends "layout.html" %}

{% block pageTitle %}
  GSE - Manage dates
{% endblock %}

{% block beforeContent %}


{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "details"
}) }}

{% endblock %}


{% block content %}
	
<div class="govuk-grid-row">

	<div class="govuk-grid-column-two-thirds">
				
				
		<form method="post" action="handle-subject-specific" novalidate>
			
		
		{% from "govuk/components/radios/macro.njk" import govukRadios %}

		{{ govukRadios({
		  idPrefix: "secondary-type",
		  name: "secondary-type",
		  fieldset: {
		    legend: {
		      text: "Select type of experience",
		      isPageHeading: true,
		      classes: "govuk-fieldset__legend--l"
		    }
		  },
		  items: [
		    {
		      value: "general-experience",
		      text: "General experience"
		    },
		    {
		      value: "specific-subject",
		      text: "Specific to a subject"
		    }
		  ]
		}) }}

				
		 <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
		
		</form>
		
	</div>
	
</div>


{% endblock %}
