{% extends "layout.html" %}

{% block pageTitle %}
  GSE - Manage dates
{% endblock %}



{% block content %}

<div class="govuk-grid-row">

	<div class="govuk-grid-column-full">


<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
		  <div class="govuk-notification-banner__header">
		    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
		      Profile status
		    </h2>
		  </div>
		  <div class="govuk-notification-banner__content">
		    <p class="govuk-notification-banner__heading">
		      Sections you still need to complete to create a full profile:
		    </p>
		    
		    <ul class="govuk-list">
			  <li>
			    <a class="govuk-link" href="#">Disability and access</a>
			  </li>
			  <li>
			    <a class="govuk-link" href="#">Dress code</a>
			  </li>
			  <li>
			    <a class="govuk-link" href="#">Subjects</a>
			  </li>
			</ul>
					    
		  </div>
		</div>
		
		
		
		
		
		
		
	</div>
</div>



<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		
		<h3 class="govuk-heading-m">Preview your profile lite below</h3>
		
		<p class="govuk-body">The profile below replicates what a candidate can see. You can add and change information, once you are happy then you can submit.</p>
			
		<a href="../dashboard" class="govuk-button" data-module="govuk-button">
		  Submit profile
		</a>
		
		<p class="govuk-body"><a data-controller="back-link" href="javascript:history.back()">Back to dashboard</a></p>
		
	</div>
</div>


<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

	
<div class="govuk-grid-row">

	<div class="govuk-grid-column-two-thirds">
						
		<span class="govuk-caption-l">School profile</span>
		<h1 class="govuk-heading-l">Holland Park School</h1>
		
	</div>
	
</div>


<div class="govuk-grid-row">

	
	<div class="govuk-grid-column-two-thirds">
							
		
		<p class="govuk-body">The Learning Alliance is a cross phase multi academy trust in Cheshire East. Knutsford Academy is our Lead School for ITT, in partnership with LJMU. We are offering school experience days across all five of our secondary schools during 2021 - 2022. This includes the following schools: Knutsford Academy, Congleton High School, The Oaks Academy (Crewe), Sir William Stanier (Crewe) and the Crewe UTC.</p>
		
		<p class="govuk-!-margin-bottom-8"><a class="govuk-link" href="#">Change description</a></p>
		
		<h2 class="govuk-heading-m">About our school experience</h2>
		
		<h3 class="govuk-heading-s">Details</h3>

		<p class="govuk-body">We are very excited about welcoming those interested in training to teach to Holland Park School. On offer are: some lesson visits; informal opportunities to meet with teachers in the staff room; meetings with school leaders; training sessions (on safeguarding, behaviour
management, lesson planning); opportunities to teach. We supervise candidates throughout the experience, so that DBS checks are not required.
</p>

		<p class="govuk-!-margin-bottom-8"><a class="govuk-link" href="#">Change details</a></p>
	
		<h3 class="govuk-heading-s">Start and finish times</h3>
		<p class="govuk-body">9am to 3:30pm</p>
		
		<p class="govuk-!-margin-bottom-8"><a class="govuk-link" href="#">Change times</a></p>
		
		
		
		
		<div class="can-add">
			<h3 class="govuk-heading-s">Dress code</h3>
			<p>Details for covering up tattoos, smartly dressed?</p> 
			<p>Require sportswear for PE?</p>
			<p><a href="#" class="govuk-button govuk-button--secondary">Add dress code</a></p>
		</div>
		
		<!-- <p class="govuk-body">Business dress, Cover up tattoos, Remove piercings, Smart casual</p> -->
		
		
		<h3 class="govuk-heading-s">Teacher training</h3>
		<p class="govuk-body">We train teachers through the Royal Borough Teaching School Alliance.</p>
		
		<p class="govuk-!-margin-bottom-8"><a class="govuk-link" href="#">Change teacher training</a></p>
		
		
		<div class="can-add">
			<h3 class="govuk-heading-s">Links to more information about our school</h3>
			<p>Link to the schools website</p>
			<p>Are there any links to other schools within a trust?</p>
			<p><a href="#" class="govuk-button govuk-button--secondary">Add links</a></p>
		</div>		
		
		<h2 class="govuk-heading-m">Entry requirements</h2>
							
			<p>You must:</p>
			
			<ul class="govuk-list govuk-list--bullet">
				<li>be applying to our, or a partner school's, teacher training course</li>
				<li>not have been accepted onto another teacher training course</li>
				<li>have a degree</li>
				<li>live within 20 miles of the school</li>
				<li>have photo identification</li>
			</ul>
			
		<p class="govuk-!-margin-bottom-8"><a class="govuk-link" href="#">Change entry requirements</a></p>	
		
			
		<h3 class="govuk-heading-s">DBS check required</h3>
		
		<p class="govuk-body">Yes. Should be less than 2 years old.</p>
		
		<p class="govuk-!-margin-bottom-8"><a class="govuk-link" href="#">Change DBS check</a></p>	
		
		
		
		<h2 class="govuk-heading-m" id="dates">Placement dates</h2>
		
		<p class="govuk-body">Can only be added once a profile is complete</p>
		
					
				
		
		
		<h2 class="govuk-heading-m">Fees</h2>
		
		<h3 class="govuk-heading-s">Admin fees</h3>
		<p class="govuk-body">£1.00 One-off</p>
		
		<h3 class="govuk-heading-s">Other fees</h3>
		<p class="govuk-body">£1.00 One-off, Cash<br>
		Lunch pass</p>
		
		<p class="govuk-!-margin-bottom-8"><a class="govuk-link" href="#">Change fees</a></p>
		
		
		<h2 class="govuk-heading-m">Location</h2>
		
		<div class="govuk-grid-row">
		
			<div class="govuk-grid-column-one-quarter">
				
				<h3 class="govuk-heading-s">Address</h3>
				<p class="govuk-body">Airlie Gardens<br>
				Campden Hill Road<br>
				London<br>
				W8 7AF</p>
							
			</div>
			
			<div class="govuk-grid-column-three-quarters">
				<img src="/public/images/Knutsford Academy _ DfE School Experience.png" style="max-width: 100%">
			</div>
			
		</div>
				
		
		
		<div class="can-add">
			<h3 class="govuk-heading-s">Parking</h3>
			<p>Is there any parking onsite?</p>
			<p>Are there busier times than others?</p>
			<p>Is the school willing to pay for parking?</p>
			<p><a href="#" class="govuk-button govuk-button--secondary">Add parking</a></p>
		</div>	
		
		<h3 class="govuk-heading-s">Disability and access details</h3>
		<p class="govuk-body">We offer facilities and provide an inclusive environment for students, staff and school experience candidates with disability and access needs. We're happy to discuss your disability or access needs before or as part of your school experience.</p>
		
		<p class="govuk-!-margin-bottom-8"><a class="govuk-link" href="#">Change disability and access details</a></p>
		
		
		
		

  </div>
  
  
  <div class="govuk-grid-column-one-third">
		<div class="govuk-!-margin-bottom-8" style="border-left: 1px solid #ccc; padding: 1rem;">
			<p><strong>Address</strong></br>
			Airlie Gardens, Campden Hill Road, London, W8 7AF</p>

			<p><strong>School phases</strong></br>
			Early years, Primary (4 to 11), Secondary (11 to 16), 16 to 18</p>
			<p><strong>Dates</strong></br>
			<a href="#dates" class="govuk-link">23 dates available for this school</a></p>
			<p><strong>DBS check required</strong></br>
			Yes. Should be less than 2 years old.</p>
			
			<div class="can-add">
				<p><strong>Disability and access</strong></br>
				<p><a href="#" class="govuk-button govuk-button--secondary">Add Disability and access</a></p>
			</div>
			
			
			<div class="can-add">
				<p><strong>Subjects</strong></p>
				<p><a href="#" class="govuk-button govuk-button--secondary">Add subjects</a></p>
			</div>
			
		</div>
  </div>
  
  
	
</div>


{% endblock %}
