{% extends "layout.html" %}

{% block pageTitle %}
  GSE - Manage dates
{% endblock %}

{% block beforeContent %}


{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "#"
}) }}


{% endblock %}


{% block content %}
	
<div class="govuk-grid-row">

	<div class="govuk-grid-column-two-thirds">
				
		<span class="govuk-caption-l">Edit school profile</span>
		<h1 class="govuk-heading-l">Holland Park School</h1>
		
	</div>
	
</div>


<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		
		<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#past-day">
        School Experience Details
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-week">
        Candidate Information
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-month">
        Admin Contact Details
      </a>
    </li>
  </ul>
  <div class="govuk-tabs__panel" id="past-day">
    <h2 class="govuk-heading-m">School Experience Details</h2>
    
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              Sarah Philips
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
              5 January 1978
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> date of birth</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">
              72 Guild Street<br>London<br>SE23 6FH
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Contact details
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">07700 900457</p>
              <p class="govuk-body">sarah.phillips@example.com</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>
        </dl>


  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">
    <h2 class="govuk-heading-m">Candidate Information</h2>
    
    <p class="govuk-body">Candidate Information Content</p>

  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-month">
    <h2 class="govuk-heading-m">Admin Contact Details</h2>
    
    <p class="govuk-body">Admin Contact Content</p>

  </div>
</div>
		
	</div>
</div>





<div class="govuk-grid-row">

	
	<div class="govuk-grid-column-two-thirds">
		left col

  </div>
  
  
  <div class="govuk-grid-column-one-third">
		<div class="panel-highlight govuk-!-margin-bottom-8">
			
				
				
				<h2 class="govuk-heading-m">Status</h2>		
		
		<p class="govuk-body govuk-!-margin-bottom-8">The Learning Alliance is a cross phase multi academy trust in Cheshire East. Knutsford Academy is our Lead School for ITT, in partnership with LJMU. We are offering school experience days across all five of our secondary schools during 2021 - 2022. This includes the following schools: Knutsford Academy, Congleton High School, The Oaks Academy (Crewe), Sir William Stanier (Crewe) and the Crewe UTC.</p>
				
			
		</div>
  </div>
  
  
	
</div>


{% endblock %}
