
{% extends "layout.html" %}

{% block pageTitle %}
  Filters/faceted search - Get School Experience Prototype 
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
	    
	    <a href="#" class="govuk-back-link">Back</a>
	    	    
    </div>
  </div>
  
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
	    	 	    
	    {% from "govuk/components/input/macro.njk" import govukInput %}

		{{ govukInput({
		  label: {
		    text: "Search",
		    classes: "govuk-label--l",
		    isPageHeading: true
		  },
		  id: "event-name",
		  name: "event-name",
		  value: "London"
		}) }}
		
    </div>
    
    
    
    <div class="govuk-grid-column-one-third" style="margin-top: 22px;">
	    
	    
	    {% from "govuk/components/select/macro.njk" import govukSelect %}

		{{ govukSelect({
		  id: "searchArea",
		  name: "searchArea",
		  classes: "width-full",
		  label: {
		    text: "Search radius"
		  },
		  items: [
		    {
			      value: "1-mile",
			      text: "1 mile"
			    },
			    {
			      value: "3-miles",
			      text: "3 miles"
			    },
			    {
			      value: "5-miles",
			      text: "5 miles"
			    },
			    {
			      value: "10-miles",
			      text: "10 miles",
			      selected: true
			    },
			    {
			      value: "15-miles",
			      text: "15 miles"
			    },
			    {
			      value: "25-miles",
			      text: "25 miles"
			    }
		  ]
		}) }}
		
	    
    </div>
    
    <div class="govuk-grid-column-one-third" style="margin-top: 50px;">
	    <button class="govuk-button" data-module="govuk-button">
		  Search
		</button>
    </div>
    
  </div>
  	
  	
  	<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


    <div class="govuk-grid-row">
	    
	   
	  <!-- LEFT COL -->  
	    
      <div class="govuk-grid-column-one-third" style="background-color: #f3f2f1;">        
        
		<div class="filter-group">
			
			{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

			{{ govukCheckboxes({
			  idPrefix: "eduphases",
			  name: "eduphases",
			  classes: "govuk-checkboxes--small",
			  fieldset: {
			    legend: {
			      text: "Education stages",
			      isPageHeading: true,
			      classes: "govuk-fieldset__legend--m"
			    }
			  },
			  items: [
			    {
			      value: "earlyYears",
			      text: "Early years"
			    },
			    {
			      value: "Primary",
			      text: "Primary (4 to 11)"
			    },
			    {
			      value: "Secondary",
			      text: "Secondary (11 to 16)"
			    },
			    {
			      value: "FurtherEducation",
			      text: "Further education (16 to 18)"
			    }
			  ]
			}) }}
			
		</div>
		
		<div class="filter-group">
						
			<div class="govuk-form-group">
			  <fieldset class="govuk-fieldset">
			    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
			      <h1 class="govuk-fieldset__heading">
			        Subjects
			      </h1>
			    </legend>
			    
			    <input name="option-select-filter" id="input-ee870181" class="app-c-option-select__filter-input govuk-input" type="text" aria-describedby="checkboxes-f0de7edf-count" aria-controls="checkboxes-f0de7edf" style="background: url(data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36' width='40' height='40'%3E%3Cpath d='M25.7 24.8L21.9 21c.7-1 1.1-2.2 1.1-3.5 0-3.6-2.9-6.5-6.5-6.5S10 13.9 10 17.5s2.9 6.5 6.5 6.5c1.6 0 3-.6 4.1-1.5l3.7 3.7 1.4-1.4zM12 17.5c0-2.5 2-4.5 4.5-4.5s4.5 2 4.5 4.5-2 4.5-4.5 4.5-4.5-2-4.5-4.5z' fill='currentColor'%3E%3C/path%3E%3C/svg%3E) #fff no-repeat -5px -3px;">
			    
			    
			    <div role="group"  class="app-c-option-select__container js-options-container" id="content_purpose_supergroup" style="height: 235.333px;">
				    <div class="app-c-option-select__container-inner js-auto-height-inner">
      			    
				    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
				      <div class="govuk-checkboxes__item">
				        <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
				        <label class="govuk-label govuk-checkboxes__label" for="organisation">
				          Subject 1
				        </label>
				      </div>
				      <div class="govuk-checkboxes__item">
				        <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
				        <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
				          Subject 2
				        </label>
				      </div>
				      <div class="govuk-checkboxes__item">
				        <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
				        <label class="govuk-label govuk-checkboxes__label" for="organisation-3">
				          Subject 3
				        </label>
				      </div>
				      <div class="govuk-checkboxes__item">
				        <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
				        <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
				          Subject 4
				        </label>
				      </div>
				      <div class="govuk-checkboxes__item">
				        <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
				        <label class="govuk-label govuk-checkboxes__label" for="organisation">
				          Subject 5
				        </label>
				      </div>
				      <div class="govuk-checkboxes__item">
				        <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
				        <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
				          Subject 6
				        </label>
				      </div>
				      <div class="govuk-checkboxes__item">
				        <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
				        <label class="govuk-label govuk-checkboxes__label" for="organisation-3">
				          Subject 7
				        </label>
				      </div>
				      <div class="govuk-checkboxes__item">
				        <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
				        <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
				          Subject 8
				        </label>
				      </div>
				    </div>

			</div>
		  </div> <!-- end role group -->
		  
		  
		  


			  </fieldset>
			</div>
						
					
		</div>
					
			
		
		<div class="filter-group">
			  
			  {% from "govuk/components/radios/macro.njk" import govukRadios %}

			{{ govukCheckboxes({
			  classes: "govuk-radios--small",
			  idPrefix: "DBS-required",
			  name: "DBS-required",
			  classes: "govuk-checkboxes--small",
			  fieldset: {
			    legend: {
			      text: "DBS check",
			      isPageHeading: true,
			      classes: "govuk-fieldset__legend--m",
			      hint: "Disclosure and Barring Service"
			    }
			  },
			  hint: {
			    text: "Disclosure and Barring Service"
			  },
			  items: [
			    {
			      value: "DBS-not-required",
			      text: "Only show placements that do not require a DBS"
			    }
			  ]
			}) }}
			  
			  
		  </div>
		  
		  
		  <div class="filter-group">
			  
			  {{ govukCheckboxes({
			  idPrefix: "feesApply",
			  name: "feesApply",
			  classes: "govuk-checkboxes--small",
			  fieldset: {
			    legend: {
			      text: "Fees",
			      isPageHeading: true,
			      classes: "govuk-fieldset__legend--m"
			    }
			  },
			  items: [
			    {
			      value: "Feesapply",
			      text: "Only show placements without fees"
			    }
			  ]
			}) }}

			  
		  </div>
		  
		  
		  <div class="filter-group">
			  
			  {{ govukCheckboxes({
			  idPrefix: "parking",
			  name: "parking",
			  classes: "govuk-checkboxes--small",
			  fieldset: {
			    legend: {
			      text: "Parking",
			      isPageHeading: true,
			      classes: "govuk-fieldset__legend--m"
			    }
			  },
			  items: [
			    {
			      value: "parkingTrue",
			      text: "Only show schools with parking"
			    }
			  ]
			}) }}

			  
		  </div>
		  
		  
		  <div class="filter-group" style="border-bottom: none;">
			  
			  {{ govukCheckboxes({
			  idPrefix: "disability",
			  name: "disability",
			  classes: "govuk-checkboxes--small",
			  fieldset: {
			    legend: {
			      text: "Disability and access needs",
			      isPageHeading: true,
			      classes: "govuk-fieldset__legend--m"
			    }
			  },
			  items: [
			    {
			      value: "disability-confident",
			      text: "Only show Disability Confident schools"
			    }
			  ]
			}) }}
			
			
			
			
			<details class="govuk-details" data-module="govuk-details">
			  <summary class="govuk-details__summary">
			    <span class="govuk-details__summary-text">
			      About Disability Confident
			    </span>
			  </summary>
			  <div class="govuk-details__text">
			    A Disability Confident employer will generally offer an interview to any applicant that declares they have a disability and meets the minimum criteria for the job as defined by the employer. It is important to note that in certain recruitment situations such as high-volume, seasonal and high-peak times, the employer may wish to limit the overall numbers of interviews offered to both disabled people and non-disabled people. For more details please go to <a href="https://www.gov.uk/government/collections/disability-confident-campaign">Disability Confident</a>.
			  </div>
			</details>


			

			  
		  </div>
		  
		 		

      </div>



	  <!-- RIGHT COL -->
	  
      <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-heading-s">100 results</h2>
                
        <div class="facet-tags"><p class="govuk-!-margin-bottom-1">Facet tags here (if any selected)</p></div>
        
       <!-- <hr>
        
        {% from "govuk/components/select/macro.njk" import govukSelect %}

		{{ govukSelect({
		  id: "sort",
		  name: "sort",
		  label: {
		    text: "Sort by"
		  },
		  items: [
		    {
		      value: "distance",
		      text: "Distance",
		      selected: true
		    },
		    {
		      value: "name",
		      text: "Name"
		      
		    }
		  ]
		}) }}  -->
        
        <hr>
       <p class="govuk-!-margin-top-6 govuk-!-margin-bottom-6 govuk-body-s">Sorted by distance</p>
        
        <hr>
        
        <article class="school-result">
          <h2 class="govuk-heading-m res-head">
            <a href="#" class="">Riverside School</a>
            <span class="govuk-caption-m distance">
              7.8 miles
              away
            </span>
          </h2>

          <dl class="govuk-summary-list">
            <div id="address" class="govuk-summary-list__row address">
			  <dt class="govuk-summary-list__key">
			    Address
			  </dt>
			  <dd class="govuk-summary-list__value">
			    Renwick Road, Barking, Essex, IG11 0FU
			  </dd>
			</div>
			
            <div id="education-phases" class="govuk-summary-list__row education-phases">
			  <dt class="govuk-summary-list__key">
			    Education phases
			  </dt>
			  <dd class="govuk-summary-list__value">
			    <ul class="govuk-list"><li>Secondary (11 to 16)</li><li>16 to 18</li></ul>
			  </dd>
			</div>
			
            <div id="subjects" class="govuk-summary-list__row subjects">
			  <dt class="govuk-summary-list__key">
			    Subjects
			  </dt>
			  <dd class="govuk-summary-list__value">
			    Biology, Chemistry, and Physics
			  </dd>
			</div>
			
            <div id="experience-type" class="govuk-summary-list__row experience-type">
			  <dt class="govuk-summary-list__key">
			    Experience type
			  </dt>
			  <dd class="govuk-summary-list__value">
			    <strong class="govuk-tag govuk-tag--yellow">In school</strong>
			  </dd>
			</div>
			
			<div id="subjects" class="govuk-summary-list__row subjects">
			  <dt class="govuk-summary-list__key">
			    DBS
			  </dt>
			  <dd class="govuk-summary-list__value">
			    Required
			  </dd>
			</div>
			
			<div id="subjects" class="govuk-summary-list__row subjects">
			  <dt class="govuk-summary-list__key">
			    Fees
			  </dt>
			  <dd class="govuk-summary-list__value">
			    Fees are applicable
			  </dd>
			</div>

          </dl>

        </article>
        
        
      </div>
    </div>
{% endblock %}
