
{% extends "layout.html" %}

{% block pageTitle %}
  Get School Experience Prototype 
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
	    
	    
      <h1 class="govuk-heading-xl">
        Get School Experience
        <span class="govuk-caption-xl">Prototype kit version: {{releaseVersion}}</span>
      </h1>
      
      
      
      <h2 class="govuk-heading-m">Close dates easily</h2>
      <p class=""><strong>Problem:</strong> <br>At the moment, the process for closing a date (for fixed dates) on School Experience is longwinded and confusing, </p>
     
      <p><a href="dashboard">Link to a page</a></p>	
      
      
            
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      
      
      
      
      <h2 class="govuk-heading-m">Account dashboard</h2>
      <p class=""><strong>Problem:</strong> <br>After a UR card sort session it was identified a different grouping structure of the content could be beneficial. This new dashboard layout is to be used for another round of research to test this theory.</p> 
      
      	<p><a href="dashboard">Dashboard</a></p>	
	  	
      <h3 class="govuk-heading-s">Scenarios for profile status</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>
        	If profile is <strong>off</strong>
        </li>
        <li>
          <a href="dashboard/off">Dashboard</a>
        </li> 
      </ul>
      
      <ul class="govuk-list govuk-list--bullet">
        <li>
        	If profile is <strong>on</strong> and dates <strong>have</strong> been set
        </li>
        <li>
          <a href="dashboard/on-dates-set">Dashboard</a>
        </li> 
      </ul>
      
      <ul class="govuk-list govuk-list--bullet">
        <li>
        	If profile is <strong>on</strong> and dates <strong>have not</strong> been set
        </li>
        <li>
          <a href="dashboard/on-no-dates-set">Dashboard</a>
        </li> 
      </ul>
      
      
      
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      
      
      
      <h2 class="govuk-heading-m">Reduce rejection rates</h2>
      <p class=""><strong>Problem:</strong> <br>Candidates who are categorically unable to take part in School Experience are applying only to get manually rejected at the first stage.</p> 

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="reduce-rejection/start-page">Start page </a>
        </li>
        <li>
          <a href="reduce-rejection/filters">Filter amends and additions</a>
        </li>
        <!-- <li>
          <a href="dashboard">Dashboard</a>
        </li> -->
      </ul>
            
      
      
      
      
       
      
    </div>
  </div>

{% endblock %}
